extends layout.pug

block content
  div(class="font-semibold font-title") Found Movies
  
  div(style="position:relative")
    div(style="height:600px; overflow:auto; margin-top:20px;")
      table
        each val, index in movies
          tr
            td
              table(style="width:100%")
                thead
                  tr
                    td=movies[index].title
                  tr
                    td
                      img(src=imageUrl+movies[index].poster_path, alt="")
                    td rating 
                      h3=movies[index].vote_average
