extends layout.pug

block content
  div(class="font-semibold font-title") Prueba formulario
  p Formulario basico de busqueda de peliculas

  form(action="/sendData" method='POST')
    table
      tbody
        tr
          td Nombre de pelicula:
          td 
            input#name(type="text", name="name")
        tr
          td(colspan=2) 
            input(type="submit", value="Enviar")
      
  
